* {
    width: 360px;
}

body {
    margin: 0;
    background-color: aqua;
}

h1 h2 h3 h4 h5 h6 p ul ol {
    margin: 0;
    padding: 0;
}

.black-background {
    width: 360px;
    background-color: #000;
    height: auto;
}

.header-icon {
    row-gap: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: baseline;
    width: auto;
    height: auto;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.background-image {
    height: 15.43px;
    width: 78.45px;
    display: block;
    margin-top: 24px;
    margin-left: 19.27px;

}

.frame-one {
    box-sizing: content-box;
    width: auto;
    display: block;
    margin-left: 168px;
    line-height: 19.2px;
    margin-top: 24px;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
    font-family: "Inter", sans-serif;
    color: #f5f5f5;
    margin-right: 19.27px;
    margin-bottom: 24px;
    font-weight: 400;
}

.title {
    text-decoration: none;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.about {
    text-decoration: underline;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 400;
}

.contacts {
    text-decoration: underline;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-top: 12px;
    font-weight: 400;
    margin-bottom: 0;
}

.title-background {
    width: auto;
    height: auto;
    background-color: #000;
    padding-top: 7px;
    color: #fff;
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-size: 339px 198px;
    background-position: 20px 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
}

.s-chistogo-lista {
    width: auto;
    height: auto;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    text-decoration: none;
}

.title-begining {
    font-family: "EB Garamond", serif;
    font-size: 72px;
    line-height: 100%;
    margin-top: 0;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    font-weight: 400;
}

.title-middle {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0;
    padding-bottom: 0;
    font-family: "EB Garamond", serif;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    padding-right: 20px;
    font-weight: 400;
}

.title-end {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "EB Garamond", serif;
    font-size: 72px;
    letter-spacing: 0;
    line-height: 100%;
    text-align: end;
    padding-right: 20px;
    font-weight: 400;
}

.eight-ways-title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
    line-height: 120%;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 38px;
    width: auto;
}

.eight-ways-date {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    flex-flow: row;
    line-height: 120%;
    row-gap: auto;
    justify-content: space-between;
    width: auto;
    height: auto;
    color: #ccc;
}

.eight-ways {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    width: 203px;
    height: auto;
}

.date {
    box-sizing: content-box;
    display: block;
    width: auto;
    margin-top: 0;
    margin-right: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    text-align: end;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
}

.eight-ways-date-text {
    padding-top: 24px;
    margin-top: 0;
    margin-right: 0;
    width: auto;
    height: auto;
    color: #f5f5f5;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    letter-spacing: 0;
    margin-bottom: 0;
}

.yellow-background {
    background-color: #fee42a;
    width: auto;
    height: auto;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 40px;
    margin: 0;
    color: #131313;
    display: flex;
    flex-flow: column;
}

.title-yellow {
    margin: 0;
    padding: 0;
    font-family: "EB Garamond", serif;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0;
    width: auto;
    height: auto;
    font-weight: 500;
}

.title-yellow-one {
    margin-right: 0;
    width: auto;
    padding-left: 0;
    margin-left: 0;
    justify-self: left;
    display: block;
    padding-right: 20px;
    text-align: right;
}

.title-yellow-two {
    padding-left: 20px;
    width: auto;
    text-align: left;
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
}

.yellow-text {
    padding-left: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0;
    color: #131313;
    text-align: left;
    padding-top: 32px;
    width: auto;
    height: auto;
    padding-right: 20px;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.list {
    display: flex;
    flex-flow: column;
    padding-top: 32px;
    margin-top: 0;
    width: auto;
    padding-right: 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 21.6px;
    letter-spacing: 0;
    text-align: left;
    color: #131313;
    padding-left: 36px;
    margin-left: 0;
    padding-bottom: 39px;
    margin-bottom: 0;
    font-weight: 400;
}

.lists {
    width: 304px;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 16px;
    margin-bottom: 0;
}

.lists-one {
    height: 130px;
}

.lists-two {
    height: 173px;
}

.lists-three {
    height: 130px;
}

.lists-four {
    height: 216px;
}

.lists-five {
    height: 152px;
    padding: 0;
    margin: 0;
}

.black-background-two {
    margin: 0;
    padding: 40px 20px 60px 20px;
    width: auto;
    color: #f5f5f5;
}

.how-what-to-do {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.how {
    text-align: right;
    width: auto;
}

.what-to-do {
    width: auto;
    text-align: left;
}

.answer {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0;
    text-align: left;
    width: auto;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.gray-background {
    margin: 0;
    padding: 0;
    background-color: #343434;
    width: auto;
    border-radius: 30px;
    height: auto;
    
}

.polyarinov-icon {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0;
    margin: 0;
}
.polyarinov-name {
    font-family: "Inter", sans-serif;
    padding-left: 20px;
    font-size: 16px;
    line-height: 135%;
    font-weight: 700;
    margin: 0;
    padding-top: 0;
    height: 20px;
    width: auto;
}

.polyarinov-one {
    width: auto;
}

.polyarinov-title {
    margin: 0;
    padding: 8px 20px 8px 20px;
    font-family: "EB Garamond", serif;
    font-size: 22px;
    line-height: 135%;
    font-weight: 500;
}

.polyarinov-text {
    margin: 0;
    padding: 0 20px 20px 20px;
    width: auto;
    font-family: "Inter", sans-serif;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
}

.background-yellow {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 20px;
    background-color: #fee42a;
    width: auto;
    border-radius: 30px;
    color: #131313;
}

.put-down {
    margin: 0;
    width: auto;
    padding: 0;
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 135%;
    letter-spacing: 0;
}

.put-down-text {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    width: auto;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
    letter-spacing: 0;

}

.bunin-name {
    margin: 0;
    padding-top: 8px;
}

.footer {
    margin: 0;
    width: auto;
    padding: 0;
    color: #f5f5f5;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-top: 1px solid #fee42a;
}

.footer-verstka {
    margin: 0;
    height: auto;
    width: auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

.footer-socials {
    margin: 0;
    padding-right: 20px;
    padding-top: 20px;
    width: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.footer-socials-links {
    width: auto;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0;
    font-weight: 400;
    justify-self: right;
}